@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Manrope";
    src: url("/fonts/manrope.ttf");
}

html, body {
    background-color: #000;
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}